/*
PROJECT
Assignment: GitPractice
Author: Nylah Tay Rogers
Class: CIS-130
Date Due: 7/31/20
*/


body {background: skyblue;}
h1, h2, h3, h4, h5 { font-family: 'Kanit'; text-align: center;}
img {max-width: 100%;}
